/* Index */
div.welcome {
  height: 500px;
  width: 100%;
  background-color: #B5CBBB;
  position: relative;
  span.sheep {
    position: absolute;
    top: 200px;
    left: 100px;
    display: inline-block;
    background: url('images/sheep.png');
    height: 200px;
    width: 200px;
    background-size: 100%;
   -webkit-animation-name: hop;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
  }
  span.cloud-1 {
    position: absolute;
    top: 40px;
    left: 200px;
    display: inline-block;
    background: url('images/cloud-1.png') no-repeat;
    height: 200px;
    width: 200px;
    background-size: 100%;
   -webkit-animation-name: move;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
  }
  span.cloud-2 {
    position: absolute;
    top: 150px;
    left: 340px;
    display: inline-block;
    background: url('images/cloud-2.png') no-repeat;
    height: 200px;
    width: 200px;
    background-size: 100%;
   -webkit-animation-name: move;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
  }
}

@-webkit-keyframes hop {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  15%, 50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }

  75% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}


div.home-content {
  padding: 20px;
}

