div.welcome {
  height: 500px;
  width: 100%;
  background-color: #B5CBBB;
  overflow: hidden;
  .pictures {
    display: inline-block;
    position: relative;
    height: 500px;
    width: 700px;
    margin-right: 10%;
    float: left;
    span.sheep {
      position: absolute;
      top: 220px;
      left: 150px;
      display: inline-block;
      background: url('images/sheep.png');
      height: 200px;
      width: 200px;
      background-size: 100%;
      animation-name: hop;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    span.cloud-1 {
      position: absolute;
      top: 60px;
      right: 100px;
      display: inline-block;
      background: url('images/cloud-1.png') no-repeat;
      height: 200px;
      width: 200px;
      background-size: 100%;
      animation-name: move-lr;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    span.cloud-2 {
      position: absolute;
      top: 200px;
      right: 0;
      display: inline-block;
      background: url('images/cloud-2.png') no-repeat;
      height: 200px;
      width: 200px;
      background-size: 100%;
      animation-name: move-lr;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    span.sun {
      position: absolute;
      top: 20px;
      left: 100px;
      display: inline-block;
      background: url('images/sun.png') no-repeat;
      height: 200px;
      width: 200px;
      background-size: 100%;
      animation-name: move-top;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  div.welcome-content {
    display: inline-block;
    float: left;
    margin-top: 250px;
    h2, p {
      color: #fff;
    }
  }
}

@keyframes hop {
  25% {
    transform: translateY(-10px);
  }

  15%, 50% {
    transform: rotateX(20deg);
  }

  75% {
    transform: none;
  }
}

@keyframes move-lr {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
}

@keyframes move-top {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
}

div.home-content {
  padding: 20px;
}

