<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Blog</title>
</head>
<body>
	<div class="error">
		<img src="/stylesheets/simpsons.gif" alt="404">
		<h1>Woopsie, Error!</h1>
		<p>Looks like something went wrong!</p>
		<a href="/">Home</a>
	</div>
</body>
</html>