<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<h1><%= title %></h1>
	</header>

	<nav>
		<span><a title="home" href="/">Home</a></span>
		<% if (user) { %>
			<span><a title="upload" href="/upload">Upload</a></span>
			<span><a title="tag" href="/tags">Tags</a></span>
			<span><a title="post" href="/post">Post</a></span>
			<span><a title="logout" href="/logout">Logout</a></span>
		<% } else { %>
			<span><a title="login" href="/login">Login</a></span>
			<span><a title="register" href="/register">Register</a></span>
		<% } %>
	</nav>

	<article>
		<% if (success) { %>
			<div><%= success %></div>
		<% } %>
		<% if (error) { %>
			<div><%= error %> </div>
		<% } %>
