<%- include header%>
<div class="container">
	<header>
		<%= title %>
	</header>
	<form method="post" class="post-form">
		<div>
			<span class="label">Title:</span>
			<input type="text" name="title" class="title-form"/>
		</div>
		<div>
			<span class="label">Tags:</span>
			<input class="tag-form" type="text" name="tag1" />
			<input class="tag-form" type="text" name="tag2" />
			<input class="tag-form" type="text" name="tag3" />
		</div>
		<div>
		<span class="label l-content">Content:</span>
		<textarea name="content" rows="20"></textarea>
		</div>
		<div class="middle">
			<input type="submit" value="Post" class="submit" />
		</div>
	</form>
</div>
<%- include footer%>