<%- include header%>
<div class="container">
	<header>
		<%= title %>
	</header>
	<form method="post" class="form">
		<div>
			<span class="label">Name:</span>
			<input type="text" name="name" />
		</div>
		<div>
			<span class="label">Password:</span>
			<input type="password" name="password" />
		</div>
		<div>
			<span class="label">Confirm:</span>
			<input type="password" name="password-repeat" />
		</div>
		<div>
			<span class="label">Email:</span>
			<input type="email" name="email">
		</div>
		<div class="middle">
			<input type="submit" value="Register" class="submit"/>
		</div>
	</form>
</div>
<%- include footer%>