<%# 
<%- include header%>
<form method="post" action='/upload' enctype='multipart/form-data'>
	<input type="file" name='image1' /> <br />
	<input type="file" name='image2' /> <br />
	<input type="submit" />
</form>
<%- include footer%>
%>
