<div class="welcome">
	<div class="pictures">
		<span class="sheep"></span>
		<span class="cloud-1"></span>
		<span class="cloud-2"></span>
		<span class="sun"></span>
	</div>
	<div class="welcome-content">
		<h2>Smart people talk.</h2>
		<p>
			Compose and share your hapy blog today!
		</p>
	</div>
</div>