@font-face {
  font-family: 'GeometriaLight';
  src: url('fonts/Geometria-Light.eot');
  src: url('fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Geometria-Light.woff') format('woff'), url('fonts/Geometria-Light.ttf') format('truetype'), url('fonts/Geometria-Light.svg#Geometria-Light') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Index */
div.welcome {
  height: 500px;
  width: 100%;
  background-color: #B5CBBB;
  overflow: hidden; }
  div.welcome .pictures {
    display: inline-block;
    position: relative;
    height: 500px;
    width: 700px;
    margin-right: 10%;
    float: left; }
    div.welcome .pictures span.sheep {
      position: absolute;
      top: 220px;
      left: 150px;
      display: inline-block;
      background: url('images/sheep.png');
      height: 200px;
      width: 200px;
      background-size: 100%;
      -webkit-animation-name: hop;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate; }
    div.welcome .pictures span.cloud-1 {
      position: absolute;
      top: 60px;
      right: 100px;
      display: inline-block;
      background: url('images/cloud-1.png') no-repeat;
      height: 200px;
      width: 200px;
      background-size: 100%;
      -webkit-animation-name: move-lr;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate; }
    div.welcome .pictures span.cloud-2 {
      position: absolute;
      top: 200px;
      right: 0;
      display: inline-block;
      background: url('images/cloud-2.png') no-repeat;
      height: 200px;
      width: 200px;
      background-size: 100%;
      -webkit-animation-name: move-lr;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate; }
    div.welcome .pictures span.sun {
      position: absolute;
      top: 20px;
      left: 100px;
      display: inline-block;
      background: url('images/sun.png') no-repeat;
      height: 200px;
      width: 200px;
      background-size: 100%;
      -webkit-animation-name: move-top;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate; }
  div.welcome div.welcome-content {
    display: inline-block;
    float: left;
    margin-top: 250px; }
    div.welcome div.welcome-content h2, div.welcome div.welcome-content p {
      color: #fff; }

@-webkit-keyframes hop {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }

  15%, 50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg); }

  75% {
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes move-lr {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); } }

@-webkit-keyframes move-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

div.home-content {
  padding: 20px; }

.search {
  display: inline-block;
  position: fixed;
  top: 15px;
  left: 200px;
  height: 30px;
  overflow: hidden;
  z-index: 9999; }
  .search input[type=text] {
    height: 30px;
    width: 200px;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    outline: none; }
    .search input[type=text]:focus {
      box-shadow: 0 0 20px #ef4036;
      border: 1px solid #ef4036;
      border-radius: 8px; }
  .search input[type=submit] {
    height: 30px;
    width: 80px;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    background-color: white;
    color: #a3a3a3;
    margin-left: 10px; }
    .search input[type=submit]:focus, .search input[type=submit]:hover {
      background-color: #ef4036;
      color: white;
      border: 1px solid #ef4036;
      cursor: pointer;
      margin-left: 5px; }

.post-list {
  width: 70%;
  margin: 50px auto; }
  .post-list .post-item {
    margin-bottom: 40px; }
    .post-list .post-item .post-info {
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px; }
      .post-list .post-item .post-info h2 {
        margin-bottom: 10px; }
      .post-list .post-item .post-info p.info {
        margin: 0; }
    .post-list .post-item .p-avatar {
      display: inline-block;
      vertical-align: middle;
      height: 48px;
      width: 48px;
      margin-bottom: 10px; }
      .post-list .post-item .p-avatar img {
        box-shadow: 0px 1px 4px #888;
        border-radius: 50%; }
    .post-list .post-item .post-content {
      margin-left: 75px; }

.trans, .search input[type=text], .search input[type=submit], nav div.items span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "GeometriaLight", sans-serif; }

p {
  line-height: 24px;
  margin: 1em 0; }

a {
  text-decoration: none; }

nav {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #a3a3a3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  vertical-align: middle; }
  nav .logo {
    display: inline-block; }
    nav .logo span {
      display: inline-block;
      height: 40px;
      width: 40px;
      background: url('images/heart.ico');
      background-size: 100%; }
    nav .logo a {
      margin-left: 45px;
      font-size: 28px;
      font-weight: bold;
      color: #a3a3a3; }
      nav .logo a:hover {
        font-size: 30px; }
  nav div.items {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    height: 60px; }
    nav div.items span {
      height: 60px;
      display: inline-block;
      padding: 20px;
      cursor: pointer; }
      nav div.items span a {
        color: #000; }
      nav div.items span:hover {
        background-color: #ef4036;
        margin-right: 5px; }
        nav div.items span:hover a {
          color: #fff; }

article {
  display: block;
  font-size: 16px;
  margin-top: 60px;
  width: 100%;
  float: left; }

article a {
  color: #dd0000;
  text-decoration: none; }

article a:hover {
  color: #333333;
  text-decoration: underline; }

.info {
  font-size: 14px; }

.edit {
  margin: 3px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 13px; }

.edit:hover {
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  -webkit-transition: color 0.2s linear; }

.prepage a {
  float: left;
  text-decoration: none;
  padding: 0.5em 1em;
  color: #ff0000;
  font-weight: bold; }

.nextpage a {
  float: right;
  text-decoration: none;
  padding: 0.5em 1em;
  color: #ff0000;
  font-weight: bold; }

.prepage a:hover, .nextpage a:hover {
  text-decoration: none;
  background-color: #ff0000;
  color: #f9f9f9;
  -webkit-transition: color 0.2s linear; }

.tag {
  background-color: #ff0000;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 8px; }

.tag:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: color 0.2s linear; }

div.error img {
  height: 400px;
  position: absolute;
  top: 200px;
  left: 100px; }

div.error {
  position: relative;
  height: 100%;
  background: #ffd8c3; }

div.error h1 {
  position: absolute;
  top: 320px;
  left: 700px; }

div.error p {
  position: absolute;
  top: 360px;
  left: 700px; }

div.error a {
  position: absolute;
  top: 420px;
  left: 700px;
  text-decoration: none;
  height: 38px;
  width: 108px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  color: white;
  background: #cccccc; }
